body {
background-color: #F0F8FF;
font-style: italic;
Font-size: 30px;


}
h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}
hr {
  border-style: none;
  
}
